body {
    background-color: rgba(240, 240, 240, 0.3);
}

.content-wrap{
    min-height: 100vh;
}

.logo-img {
    max-width: 350px;
    padding:30px;
}

html.modal-open,
body.modal-open {
    overflow: hidden;
}

.modal {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content iframe {
    flex-grow: 1;
    border: none;
    width: 100%;
}

.iframe-container {
    width: 100%;
    height: 100%;
    /*padding-bottom: 56.25%;*/
    /* 16:9 aspect ratio */
    position: relative;
    /*margin: 40px auto;*/
    overflow: hidden;
    /* border-radius: 8px; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    max-height: 80vh;
}

.has-height-100 {
    height: 100%;
}

.has-width-100 {
    width: 100%;
}