# Files for git to ignore
*/*/system/cache/cache.*
*/*/system/logs/error.txt
*/*/image/cache/*
*/*/vqmod/vqmod.log
*/*/vq2*
*/*/admin/vq2*
*.swp
veloz-home/cache/*.spc
*/webroot/config.php
*/wp-config.php
*/webroot/wp-config.php
*/webroot/admin/config.php
*/webroot/vq2-*
*/webroot/vqmod/logs/*
*/webroot/vqmod/vqcache/*
*/webroot/vqmod/mods.cache
*/webroot/vqmod/checked.cache
*/webroot/vqmod/logs
*/webroot/sessions/sess_*
veloz-recruiting/application/logs/log-*.php
*.log
.idea
custom-platform/storage/cache/*
custom-platform/webroot/install/*/*/*/*
custom-platform/storage/session/sess_*
custom-platform/webroot/system/storage/*
custom-platform/custom-platform-react/node_modules/*
custom-platform/custom-platform-react/coverage/*
custom-platform/custom-platform-react/build/*
.DS_Store
desktop.ini

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
